.form-control::placeholder {
  color: #b3b3b3;
  opacity: 1;
}

.form-control {
  color: white;
}

body {
  font-family: "Circular", sans-serif;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.hide-scrollbar::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
}

.dropdown-item:hover i,
.dropdown-item:hover a,
.dropdown-item:hover small {
  color: black !important;
}

.play-button {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.album-card:hover .play-button {
  opacity: 1;
}

/* #sidebarLeft {
  transition: all 0.3s ease;
}

.sidebar-collapsed {
  width: 80px;
}*/

.sidebar-collapsed .text,
.sidebar-collapsed p,
.sidebar-collapsed small,
.sidebar-collapsed input,
.sidebar-collapsed span,
.sidebar-collapsed a,
.sidebar-collapsed .collapse-hidden {
  display: none;
}

.sidebar-collapsed img {
  margin: auto;
  display: block;
}

#sidebarLeft {
  transition: width 0.3s ease;
  height: 100vh;
}

.sidebar-expanded {
  width: 300px !important;
}

.sidebar-collapsed {
  width: 80px;
}

.right-sidebar {
  width: 300px;
}

.flex-grow-1 {
  min-width: 0;
}

.sidebar-collapsed .collapse-hidden {
  display: none !important;
}

.dropdown-menu {
  position: absolute !important;
  left: 100% !important;
  top: 0;
}

#sidebarLeft {
  flex-shrink: 0;
}
.spotify-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  height: 80px;
  background-color: #121212;
  border-top: 1px solid #282828;

  z-index: 1000;
}

.spotify-footer img {
  object-fit: cover;
}

.spotify-footer .form-range {
  height: 4px;
}

.spotify-footer .form-range::-webkit-slider-thumb {
  background: white;
}

.spotify-footer i {
  cursor: pointer;
}

.spotify-footer i:hover {
  color: white;
}
main {
  padding-bottom: 80px;
}

.glow-up {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.9));
  transition: filter 0.3s ease;
}

.glow-up:hover {
  filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.6));
}
