.form-control::placeholder {
  color: #b3b3b3;
  opacity: 1;
}

.form-control {
  color: white;
}

body {
  font-family: "Circular", sans-serif;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.hide-scrollbar::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
}

.dropdown-item:hover i,
.dropdown-item:hover a,
.dropdown-item:hover small {
  color: black !important;
}

.play-button {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.album-card:hover .play-button {
  opacity: 1;
}
